# ステップ1 基本的な文法とデータ型

## 1.1. コメント

* シャープ(`#`)から始まる文は 、「コメント」と呼ばれるプログラムの実行結果に影響しない文です。  
  コードの動作説明などに使用されます。
* シャープから行末までがコメントとなります。

In [ ]:
# コメント文です。このセルを実行しても何も出力されません。

In [ ]:
count = 1  # コードの後にコメントを追加することも可能です。

## 1.2. 画面出力

* データを画面に表示するには `print` 関数を使用します。
* 文字列はダブルクォーテーション(`"`)またはシングルクォーテーション(`'`)で囲みます。

In [ ]:
# print関数を用いて文字列を画面に出力

print("こんにちは！")
print('Hello!')

* print関数はデフォルトでは末尾に改行が挿入されます。
* 改行を含めたくない場合は`end`引数に空文字列(`''`)を指定します。

In [ ]:
print("こんにちは！", end='')
print('Hello!')

In [ ]:
# 【練習問題】本講座名を画面に出力してください。

## 1.3. 基本的なデータ型

### 1.3.1. 型 (type) とは

* Pythonでは文字列や数値など様々な種類のデータを扱うことができます。データの種類のことを **型 (type)** と呼びます。
* `type`関数を使用してデータの型を確認できます。

In [ ]:
print(type("こんにちは！"))
print(type(100))

### 1.3.2. 数値 (`int`型, `float`型)

* Pythonでは数に関する基本的な型として整数値の`int`型と、小数値(浮動小数点数)を表す`float`型があります。

In [ ]:
print(type(10))

print(type(3.14))

* 数値同士の足し算(`+`)、引き算(`-`)、掛け算(`*`)、割り算(`/`)の計算ができます。
* 数値の場合も`print`関数を使用して画面に値を表示できます。

In [ ]:
print((1 + 2) * 3)

print(4 / 2)  # 割り算の結果は小数(float型)になります。整数値にしたい場合は次で扱う「//」を使用します。

print(1.25 * 3)  # 整数値(int)と小数値(float)同士の計算も可能です。計算結果の型は小数(float型)になります。

* 割り算の商(`//`)や余り(`%`)も計算できます。

In [ ]:
print(100 // 3)  # 商を計算

print(100 % 3)  # 余りを計算

* 累乗(`**`)の計算もできます。

In [ ]:
print(2 ** 3)  # 2の3乗(2 * 2 * 2)

In [ ]:
# 【練習問題】BMI値は体重(kg)を身長(m)の2乗で割った値を表す数値です。体重65kg、身長170cmの人のBMI値を画面に出力してください。

* `int`関数を小数(`float`)に適用すると、小数点以下を切り捨てて整数(`int`)に変換します。
* `float`関数を整数(`int`)に適用すると、小数(`float`)に変換します。

In [ ]:
print(int(3.14))

print(float(10))

* `int`型では、扱える数の上限や下限は存在しません。

In [ ]:
# Pythonではこのような大きな数値も扱うことが可能です。

print(12345 ** 100)

* `float`型では、扱える数の上限や下限が存在します。

In [ ]:
# このセルを実行すると OverflowError が発生します。

print(-12345.6 ** 100)

* `float`型では以下のように誤差が生じることがあるため注意が必要です。

In [ ]:
print(0.1 + 0.2)

このような誤差は「丸め誤差」と呼ばれ、10進数を内部的には2進数で表現していることが原因です。  
Pythonでは精度の高い計算が必要な場合のために`Decimal`というデータ型も用意されています。

In [ ]:
# Decimalを使用した計算例
# (コードの意味について今は理解できなくて大丈夫です)

from decimal import  Decimal

print(Decimal("0.1") + Decimal("0.2"))

### 1.3.3. 文字列 (`str`型)

* 文字列は`str`型です。
* 文字列はダブルクォーテーション(`"`)またはシングルクォーテーション(`'`)で囲みます。

In [ ]:
print("こんにちは！")
print('Hello!')

* 文字列の足し算(`+`)を行うと、文字列が連結されます。

In [ ]:
print("Good" + " " + "Morning!")

* 文字列に数値を掛ける(`*`)と、文字列を数値の回数分連結します。

In [ ]:
print("Hello" * 3)

* `str`関数を数値(`int`, `float`)に適用すると、文字列に変換します。
* `int`関数を文字列(`str`)に適用すると、整数に変換します。
* `float`関数を文字列(`str`)に適用すると、小数に変換します。

In [ ]:
print(str(10) + ' years old')

print(int('100') + 20)

print(float('2.5') * 10)

* 整数(小数)に変換できない文字列に`int`(`float`)関数を適用した場合は、`ValueError`が発生します。

In [ ]:
# 整数に変換できない文字列に int 関数を適用した場合

print(int('apple'))

In [ ]:
# 小数に変換できない文字列に float 関数を適用した場合

print(float('apple'))

In [ ]:
# 【練習問題】"Good Evening!"の間のスペースを100個分にした文字列を画面に出力してください。

### 1.3.4. `True`と`False` (`bool`型)

* Pythonでは正しいことを`True`、間違っていることを`False`で表します。
* これらの値は`bool`型です。

In [ ]:
print(True)

print(type(False))

* 以下のように条件式が正しい場合に`True`、間違っている場合に`False`を返します。

In [ ]:
print(1 < 2)

print(3.14 > 10)

* `bool`関数を使用すると、入力された値を`bool`型に変換します。

In [ ]:
# [intの場合] 0はFalse、その他はTrueに変換されます。

print(bool(0))
print(bool(1))
print(bool(-1))

In [ ]:
# [floatの場合] 0.0はFalse、その他はTrueに変換されます。

print(bool(0.0))
print(bool(-1.0))
print(bool(3.14))

In [ ]:
# [strの場合] 空文字列はFalse、その他はTrueに変換されます。

print(bool(""))
print(bool("0"))
print(bool("ABCD"))

### 1.3.5. `None` (`NoneType`型)

* Pythonにおいて「何もない」「何も値を持たない」状態を表す値が`None`です。
* `None`は唯一の`NoneType`型です。

In [ ]:
print(None)
print(type(None))

In [ ]:
# 【練習問題】Noneにbool関数を適用した際の値を予想し、結果を確認してください。